.com_font{
    font-size: 14px;
    color: #333;
}
.order_Detail{
  width: 700px;
}
.order_list{
    width:100%;
    display: flex;
    .list{
        flex:1;
        text-align: center;
        cursor: pointer;
        img{
            width: 40px;
            height: 40px;
        }
        p{
            font-size: 14px;
            font-weight: bolder;
            color: #333;
        }
    }
    .active{
        border-bottom:2px solid #C51015;
    }
}
.my_title{
    font-size: 16px;
    color: #333;
    margin-bottom:20px;
}
.page_list{
    text-align: right;
    margin-top: 30px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #C51015!important;
}
.com-sub-btn{
    width: 140px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    background: #C51015;
    color: #fff;
    font-size: 16px;
    margin-right: 48px;
}
.com-Cancel-btn{
    width: 140px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    border:1px solid #121037;
    box-sizing: border-box;
}
.Products_Details{
    h4{
        @extend .com_font;
        margin-bottom: 10px;
    }
    .product{
        img{
            width:110px;
            height: 110px;
            margin-right: 70px;
            border:1px solid #E9E9E9;
            float: left;
        }
        .detail{
            h5{
                width: 404px;
                @extend .com_font;
                font-weight: normal;
                text-overflow: -o-ellipsis-lastline;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-bottom:14px;
            }
            p{
                margin-bottom: 10px;
                @extend .com_font;
                span{
                    color: #999;
                }
                .old_price{
                    text-decoration: line-through;
                    margin-left:14px;
                }
            }
        }
    }
}
// 个人中心主页
.account{
    min-height: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: #E9E9E9;
    padding:20px 0 40px;
    .accountBox{
        width: 1440px;
        margin: 0 auto;
        display: flex;
        // justify-content: space-between;
        .accountNav{
            width: 200px;
            height: 270px;
            padding: 12px 10px;
            background-color: #fff;
            box-sizing: border-box;
            margin-right: 20px;
            a{
                text-decoration: none;
            }
            .navTitle{
                font-size: 16px;
                font-family: Tahoma;
                color: #333;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .navItem{
                color: #666;
                height: 30px;
                font-size: 14px;
                line-height: 30px;
                font-family: Tahoma;
                padding-left: 20px;
                cursor: pointer;
                &:hover{
                    color:#C51015;
                }
            }
        }
        .navCount{
            width: 1230px;
            position: relative;
            .home_top{
                background-color:#E9E9E9;
                margin-bottom:20px;
                display: flex;
                .user{
                    width:110px;
                    height: 110px;
                    margin-right: 25px;
                    float: left;
                }
                .user_detail{
                    float: left;
                    width: 360px;
                    height: 271px;
                    margin-right: 20px;
                    background: #fff;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .name{
                        position: relative;
                        h4{
                            font-size: 16px;
                            color: #333;
                            margin-bottom: 12px;
                        }
                        .user_name{
                            width: 200px;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            cursor: pointer;
                        }
                        .name_hidden{
                            background:rgb(231, 211, 187);
                            position: absolute;
                            top:24px;
                            left: 40px;
                            font-size: 14px;
                            padding: 0 12px;
                            border-radius: 4px;
                        }
                    }
                    .other_link{
                        display: flex;
                        p{
                            font-size: 14px;
                            color: #333;
                            display: flex;
                            align-items: center;
                            margin-bottom: 12px;
                            cursor: pointer;
                            img{
                                width: 24px;
                                height: 24px;
                                margin-right: 7px;
                            }
                        }
                    }
                }
                .processing_link{
                    width: 270px;
                    height: 271px;
                    background: #fff;
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    span{
                        margin-bottom:26px;
                        font-size: 18px;
                        color: #333;
                        img{
                            width: 24px;
                        }
                    }
                    .text{
                        color: #666;
                        font-size: 20px;
                    }
                }
                .user_list{
                    width: 270px;
                    height: 271px;
                    .list{
                        text-align: center;
                        height: 125px;
                        line-height: 125px;
                        background: #fff;
                        margin-bottom: 20px;
                        h5{
                            font-size: 18px;
                            color: #333;
                            font-weight: normal;
                        }
                        p{
                            font-size: 18px;
                            color: #E14D4D;
                        }
                    }
                }
            }
            .home_bot{
                display: flex;
                align-items: center;
                height: 140px;
                background-color: #ffff;
            }
        }
    }
}
// 我的订单
.my_order{
    background: #fff;
    padding:20px 34px;
    box-sizing: border-box;
    .order_list{
        border-bottom: 1px solid #E9E9E9;
        margin-bottom:10px;
        height: 80px;
        .list{
            padding-bottom:30px;
        }
    }
    .list_btn{
        font-size: 14px;
        color:#003764;
        cursor: pointer;
        margin:0 10px;
    }
    .No_order{
        height: 100px;
        line-height: 100px;
    }
    .cancelBox{
        p{
            text-align: center;
            height: 100px;
            line-height: 100px;
        }
        .cancelBtn{
            display: flex;
            justify-content: center;
            .cancelbtn{
                margin:0 24px;
            }
        }
    }
}
// 订单详情页
.orderDetail{
    .navCount{
        padding:20px 30px;
        background:#fff;
        .my_title{
            padding-bottom: 20px;
            border-bottom:1px solid #E9E9E9;
        }
        .order_num{
            display:flex;
            padding-bottom:20px;
            .num{
                //flex:1;
                display:flex;
                margin:0 15px;
                p{
                    height: 32px;
                    line-height: 32px;
                    @extend .com_font;
                    span{
                        color: #999;
                        font-size: 14px;
                    }
                    b{
                        color: #C51015;
                    }
                }
                div{
                    //flex:1;
                    margin:0 15px;
                }
            }
            .num_right{
                p{
                    min-width: 200px;
                    float: left;
                    height: 32px;
                    line-height: 32px;
                    font-size: 14px;
                    color: #C51015;
                }
            }
        }
        .order_address{
            margin: 20px 0;
            overflow: hidden;
            .list{
                float: left;
                margin-right: 70px;
                h4{
                    @extend .com_font;
                    margin-bottom:10px;
                }
                .detail{
                    width: 460px;
                    height: 180px;
                    border:1px solid #E9E9E9;
                    padding:20px;
                    box-sizing: border-box;
                    .discription{
                        p{
                            color: #131313;
                            font-size: 14px;
                            line-height:26px;
                        }
                    }
                }
            }
        }
    }
}
//我的心愿单
.wishlist{
    min-height: 187px;
    .no_list{
        display: flex;
        height: 160px;
        justify-content: center;
        align-items: center;
        p{
            @extend .com_font;
            margin-bottom:28px;
            text-align: center;
        }
        .wish_btn{
            width: 230px;
            height: 32px;
            text-align: center;
            cursor: pointer;
            line-height: 32px;
            color: #fff;
            font-size: 16px;
            background:#C51015;
        }
    }
    .wish_options{
        img{
            width:24px;
            height: 24px;
            cursor: pointer;
        }
        i{
            display: block;
            font-size: 22px;
            cursor: pointer;
            margin-left: 4px;
        }
    }
    .select{
        p{
            font-size: 16px;
            color: #333;
            margin-top: 11px;
            span{
                margin-right: 39px;
                cursor: pointer;
            }
        }
    }
}
//我的优惠券
//我的积分
.points_rule{
    float:right;
    font-size: 14px;
    color: #003764;
    font-weight: normal;
}
.points{
    overflow: hidden;
    .available{
        float: left;
        padding-right: 65px;
        border-right:1px solid #E9E9E9;
        width: 138px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4{
            font-size: 16px;
            color:#333;
        }
        img{
            width:48px;
            height: 48px;
            margin:10px 0 5px 0;
        }
        span{
            font-size: 32px;
            color: #C51015;
        }
    }
    .Points_list{
        display:flex;
        padding-left: 80px;
        height: 140px;
        align-items: center;
        .list{
            flex:1;
            text-align: center;
            p{
                font-size: 28px;
                color: #333;
            }
            h5{
                @extend .com_font;
                font-weight:normal;
            }
        }
    }
}
//我的订单售后
.refund{
    padding:0 14px;
    .refund_rule{
        @extend .com_font;
        margin-bottom: 10px;
    }
    .label{
        p{
            margin-bottom: 10px;
            @extend .com_font;
        }
        .classify{
            overflow: hidden;
            margin-bottom: 10px;
            .classification{
                width: 380px;
                height: 80px;
                display: flex;
                border:1px solid #E9E9E9;
                margin-right: 41px;
                float: left;
                padding:22px 0 0 36px;
                box-sizing: border-box;
                cursor: pointer;
                .refund{
                    width: 32px;
                    height: 32px;
                }
                h5{
                    @extend .com_font;
                }
                p{
                    font-size: 14px;
                    color: #999;
                }
            }
            .active{
                border:1px solid #C51015;
            }
        }
    }
    .Products_Details{
        margin-top: 20px;
        .price{
            @extend .com_font;
            margin-top: 9px;
            span{
                color: #999;
            }
            b{
                color:#E91818;
            }
        }
        .Continue{
            width:180px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            color: #fff;
            font-size: 14px;
            background: #C51015;
            float: right;
            cursor: pointer;
        }
        .Exchange_btn{
            width: 118px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            @extend .com_font;
            background: #E9E9E9;
            border-radius:4px;
            cursor: pointer;
        }
    }
}
.footer_btn{
    display: flex;
    justify-content: center;
    .sub{
        @extend .com-sub-btn;
    }
    .Cancel{
        @extend .com-Cancel-btn;
    }
}
//提交售后申请
.refund_apply{
    .refund_nav{
        li{
            width: 320px;
            text-align: center;
            height: 32px;
            line-height:32px;
            background: #E9E9E9;
            display: inline-block;
            @extend .com_font;
            position: relative;
        }

        li:after{
            content: '';
            display: block;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-left: 16px solid #E9E9E9;
            position: absolute;
            right: -16px;
            top: 0;
            z-index: 10;
        }
        li:before{
            content: '';
            display: block;
            border-top: 16px solid #E9E9E9;
            border-bottom: 16px solid #E9E9E9;
            border-left: 16px solid #fff;
            position: absolute;
            left: 0px;
            top: 0;
        }
        li:first-child:before{
            display: none;
        }
        li:last-child:after{
            display: none;
        }
        li.active {
            background-color: #C51015;
            color: #fff;
        }
        li.active:after {
            border-left-color: #C51015;
        }
        li.active:before {
            border-right-color: #C51015;
            border-top: 16px solid #C51015;
            border-bottom: 16px solid #C51015;
        }
    }
    .refund_form{
        margin-top: 20px;
        .el-form-item{
            margin-bottom: 10px;
        }
        .refund_reason{
            display: flex;
            li{
                padding:0px 20px;
                border:1px solid #E9E9E9;
                @extend .com_font;
                margin-right: 20px;
            }
            .active{
                border-color: #C51015;
            }
        }
        .price{
            @extend .com_font;
            span{
                color: #999;
            }
            b{
                color:#C51015;
            }
        }
        .el-textarea{
            width: 600px;
        }
        .imglist{
            display: flex;
            .rule{
                margin-left: 20px;
                color: #999;
                display: inline-block;
                line-height: 148px;
            }
        }
        .tip{
            @extend .com_font;
            i{
                color:#C51015;
                font-size: 14px;
                margin-right: 6px;
                font-style: normal;
            }
        }
    }
    .apply_btn{
        display: flex;
        margin-left: 120px;
        .sub{
            @extend .com-sub-btn;
        }
        .Cancel{
            @extend .com-Cancel-btn;
        }
    }
    //卖家审核
    .refund_examine{
        .price{
            @extend .com_font;
            margin-top: 9px;
            span{
                color: #999;
            }
            b{
                color:#E91818;
            }
        }
        .examine_tip{
            margin-bottom: 36px;
            h5{
                margin:10px 0;
                @extend .com_font;
            }
            p{
                color: #999;
                font-size: 14px;
            }
            .email{
                color: #003764;
            }
        }
        .cancel{
            height: 32px;
            line-height: 32px;
            h4{
                float: left;
            }
            .cancel_refund{
                float: right;
                width: 210px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                background: #C51015;
            }
        }
    }
}
//我的订阅
.Scription{
    .Scription_tip{
        @extend .com_font;
        margin-bottom: 10px;
    }
    .el-input{
        width: 320px;
        height: 32px;
    }
    .Scription_check{
        margin-top: 10px;
    }
    .subScription_btn{
        display: flex;
        margin-top: 20px;
        .sub{
            @extend .com-sub-btn;
        }
        .Cancel{
            @extend .com-Cancel-btn;
        }
    }
}
//我的地址
.my_address{
    padding:0 20px;
    h4{
        margin-bottom: 20px;
    }
    .shipping_list{
        overflow: hidden;
        margin-bottom: 20px;
        border-bottom: 1px dashed #E9E9E9;
        .list{
            width: 460px;
            height: 220px;
            border: 1px solid #E9E9E9;
            margin:0 40px 20px 0;
            float: left;
            box-sizing: border-box;
        }
        .add_address{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i{
                font-size: 60px;
                color: #999;
                margin: 13px 0;
                cursor: pointer;
            }
            p{
                @extend .com_font;
                margin-bottom: 10px;
            }
            .tip_max{
                font-size: 14px;
                color: #999;
            }
        }
        .shipping_address{
            padding: 20px;
            position: relative;
            h5{
                @extend .com_font;
            }
            p{
                color: #131313;
                font-size: 14px;
                .street_address{
                    display: inline-block;
                    word-wrap: break-word;
                    width: 422px;
                }
            }
            .cancat{
                margin-top: 8px;
            }
            .edit_btn{
                position: absolute;
                bottom:20px;
                span{
                    color: #003764;
                    font-size: 14px;
                    padding:0 6px;
                    cursor: pointer;
                }
                i{
                    font-size: 14px;
                    color: #707070;
                    font-style: normal;
                }
                b{
                    margin-left: 150px;
                    display: inline-block;
                    width: 70px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    color: #fff;
                    background: #C51015;
                    font-size: 14px;
                    font-weight: normal;
                    border-radius:4px;
                }
            }
        }
    }
    .billing_list{
        height: 178px;
    }
}
.addressBox{
    padding:0 80px;
    .assressBtn{
        display: flex;
        margin-left: 130px;
    }
}
//个人中心设置
.account_set{
    .set_tab{
        overflow: hidden;
        margin-bottom: 20px;
        border-bottom: 1px solid #E9E9E9;
        li{
            float: left;
            padding:12px 14px;
            font-size: 14px;
            color: #131313;
            font-weight: bolder;
            margin-right: 100px;
            cursor: pointer;
        }
        .active{
            color: #C51015;
            border-bottom: 2px solid #C51015;
        }
    }
    .Profile_form{
        width:520px;
        margin-left: 304px;
        .com-sub-btn{
            margin-left: 120px;
        }
    }
}



