.activityBox{
    width: 1440px;
    margin: 0 auto;
    font-family: Tahoma;
    font-size: 14px;
    min-height: 500px;
}
.activityTime{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: #c51015;
    display: flex;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    justify-content: flex-start;
}
.activityTime .numDiv{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #333;
    margin-top: 10px;
}
.activityTime .flag{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
}
.activityGoods{
    width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    // background-image: url('../../assets/注册页面.png');
    // padding-bottom: 30px;
    position: relative;
    background-size: 100%;
    position: relative;
}
.activityGoods .goodsList{
    width: 1340px;
    margin: 0 auto;
    padding: 30px 50px 60px 50px;
    box-sizing: border-box;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.goodsList > div{
    height: 420px;
    width: 310px;
}
.itemInner{
    width: 280px;
    height: 390px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff;
}
.itemInner:hover{
    border: 1px solid #e1e1e1;
}
.imgBox{
    width: 280px;
    height: 280px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.tagBox{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    z-index: 99;
  }
  .cheap{
    display: flex;
    justify-content: flex-end;
  }
  .disPrice{
    color: #fff;
    font-size: 16px;
    font-family: Tahoma;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    background-color: #c51015;
  }
  .cheapLeft{
    width:0;
    height:0;
    border-top:12px solid transparent;
    border-bottom:12px solid transparent;
    border-right:12px solid #c30808;
  }
  .cheapRight{
    color: #fff;
    height: 24px;
    padding: 0 4px;
    text-align: center;
    line-height: 24px;
    font-family: Tahoma;
    font-size: 16px;
    background-color: #c30808;
  }
.imgBox:hover img{
    transform: scale(1.05);
    transition: all .8s;
}
.imgBox img{
    width: 100%;
    transform: scale(1);
    transition: all .8s;
}
.nameBox{
    height: 36px;
    font-size:14px;
    color: #333;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-top: 15px;
    cursor: pointer;
}
.nameBox:hover{
    color: #c51015;
}
.goodsPrice{
    margin-top: 20px;
    font-family: Tahoma;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.goodsPrice .pri{
    color: #c30808;
    font-size: 16px;
}
.goodsPrice .pri span{
    color: #aaa;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 10px;
}
.goodsPrice .num{
    color: #999;
    font-size: 14px;
}
.bottomList{
    margin: 30px 0 60px 0;
}
.loadMore{
    height: 40px;
    width: 360px;
    color: #333;
    line-height: 40px;
    text-align: center;
    border: 1px solid #666;
    position: absolute;
    bottom: 20px;
    left: 40%;
    cursor: pointer;
    font-family: Tahoma;
  }
.loadMore:hover{
    background-color: #121037;
    color: #fff;
}