.wrap_1{
    width: 100%;
    margin: auto;
    min-width: 1440px;
  }
    .footer {
    width: 100%;
    background:rgba(251,251,251,1);
    border-top: 1px solid gainsboro;

  }
  .footer > .img {
    text-align: center;
    margin: 30px auto;
    display: flex;
    width: 280px;
    justify-content: space-between;
  }
  .footer > .img > div {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
  }
  .xian {
    border-bottom: 1px solid gainsboro;
  }
  .sixtyCont{
    width: 1440px;
    margin: 20px auto;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }
  .sixty{
    width: 25%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  .sixty div{
    margin: 0 auto;
  }
  .sixty  img {
    display: inline-block;
    height: 60px;
  }
  .sixty_word > a{
    text-decoration: none;
  }
  .sixty_word1 {
    font-size: 18px;
    font-family: Tahoma;
    color: #030303;
    padding-bottom: 5px;
  }
  .sixty_word2 {
    font-size: 14px;
    font-family: Tahoma;
    color: #666666;
  }
  .footBox{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .footer_left {
    width: 60%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }
  .left_one1 {
    font-size: 14px;
    color: #030303;
    font-family: Tahoma;
    font-weight: bold;
  }
  .left_one2 {
    line-height: 24px;
    font-size: 14px;
    color: #030303;
    font-family: Tahoma;
  }
  .left_two1 {
    font-size: 14px;
    color: #030303;
    font-family: Tahoma;
    font-weight: bold;
  }
  .left_two2 {
    line-height: 24px;
    font-size: 14px;
    color: #030303;
    font-family: Tahoma;
  }
  .left_thr1 {
    font-size: 14px;
    color: #030303;
    font-family: Tahoma;
    font-weight: bold;
  }
  .left_thr2 {
    line-height: 24px;
    font-size: 14px;
    color: #030303;
    font-family: Tahoma;
  }
  .left_for1 {
    font-size: 14px;
    color: #030303;
    font-family: Tahoma;
    font-weight: bold;
  }
  .left_for2 {
    line-height: 24px;
    font-size: 14px;
    color: #030303;
    font-family: Tahoma;
  }
  .left_one2 li{
    cursor: pointer;
  }
  .footer_right {
    width: 340px;
    margin: 20px 0;
  }
  .know {
    font-size: 14px;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 17px;
    color: rgba(3, 3, 3, 1);
    padding-bottom: 15px;
  }
  .deals {
    font-size: 14px;
    font-family: Tahoma;
    font-weight: 400;
    line-height: 17px;
    color: rgba(3, 3, 3, 1);
  }
  .footInput .el-input__inner {
    width: 340px;
    position: relative;
    border: 1px solid #121037;
    height: 32px;
    line-height: 32px;
    border-radius: 0;
  }
  .btn {
    width: 150px;
    height: 32px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: rgba(18, 16, 55, 1);
  }
  .footInput{
    margin-top: 10px;
  }
  .btn_word {
    font-size: 14px;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 17px;
    color: rgba(255, 255, 255, 1);
  }
  .xian2 {
    border-bottom: 1px solid gainsboro;
  }
  .pay-02{
    text-align: center;
    padding-top: 20px;
  }
.active{
  line-height: 24px;
  font-size: 14px;
  color: #030303;
  font-family: Tahoma;
  font-weight: bolder;

}
