.showPic{
  //width: 40px;
  //height: 40px;
  cursor: pointer;
}
.showBox{
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.showPic img{
  width: 100%;
}
.bgModel{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .modelClose{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    color: #666;
    cursor: pointer;
    &:hover{
        color: #333;
    }
  }
  .modelCont{
    width: 345px;
    height: 130px;
    padding: 20px 10px;
    text-align: center;
    font-family: Tahoma;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 6px #666;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .modelText{
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
  }
  .modelTitle{
    font-size: 16px;
    color: #333;
    margin-bottom: 16px;
  }
  .toCart{
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #c51015;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 18px;
    &:hover{
        cursor: pointer;
        background-color: #B20605;
    }
  }
  .soldOut{
    width: 175px;
    color: #333;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-family: Tahoma;
    background-color: #e9e9e9;
    margin-top: 30px;
    font-size: 16px;
  }
  .mainImage{
    //height: 82px;
    margin-top: 20px;
    //margin-bottom: 30px;
    display: flex;
  }
  .mainImage .sliderBox{
    //height: 82px;
  }
  .mainImage .sizeSize.activeType img{
    border: 1px solid #c51015;
  }
  .smallSlider2{
    /*height: 38px;*/
    //width: 508px;
    position: relative;
  }
.smallSlider3{
  /*height: 38px;*/
  width: 82px;
  position: relative;
  height: 508px;
}
.sliderBox2{
  /*height: 38px;*/
  height: 455px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  left:0;
  top: 28px;
}
.sliderCont2{
  position: absolute;
  left: 0;
  top: 0;
  height: 455px;
}
.prev2{
  color: #ccc;
  position: absolute;
  left: 30px;
  top: 0;
  font-size: 24px;
  transform: rotate(90deg);
}
.next2{
  color: #333;
  position: absolute;
  right: 30px;
  bottom: -5px;
  font-size: 24px;
  transform: rotate(90deg);
}
  .sliderBox{
    //width: 445px;
    margin: 0 auto;
    white-space: nowrap;
    //overflow: hidden;
    position: relative;
    left:0;
    top: 0;
  }
  .mainImage .prev{
    top:30px;
  }
  .mainImage .next{
    top:30px;
  }
  .mainImage .sliderCont div{
    margin-right: 8px;
  }
  .isImg.prev{
    color: #ccc;
    position: absolute;
    left: 0;
    top: 25px;
    font-size: 24px;
  }
  .isImg.next{
    color: #333;
    position: absolute;
    right: 0;
    top:25px;
    font-size: 24px;
  }
  .sliderBox.isImg{
    //height: 82px;
  }
  .sliderBox.isText .sizeSize{
    height: 40px;
  }
.sliderBox.isImg .sizeSize{
  height: 68px;
}
  .sliderCont{
    //position: absolute;
    //left: 0;
    //top: 0;
    //width: 445px;
    margin: 0 auto;
    width: 660px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
  }
  .sliderCont div{
    width: 62px;
    /*height: 32px;*/
    margin-right: 8px;
    display: inline-block;
  }
  .prev{
    color: #ccc;
    position: absolute;
    left: 0;
    top: 6px;
    font-size: 24px;
  }
  .next{
    color: #333;
    position: absolute;
    right: 0;
    top:6px;
    font-size: 24px;
  }
  .ColorPic{
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 1px solid #eee;
  }
.sizeSize.active div,.sizeSize.active img{
  border: 1px solid #B20605;
  transition: all .3s;
}
.sizeSize .disStyle{
  color: #333;
  border: 1px solid #999;
  background-color: #fff;
}
.sizeSize.active .disStyle{
  color: #333;
  border: 1px solid #C51015;
  background-color: #fff;
}
.sizeSize.active div{
  color: #333;
  border: 1px solid #C51015;
  background-color: #fff;
}
.checkedStyle .small{
  border: 1px solid #C51015;
}
.small{
  width: 80px;
  height: 80px;
  border: 1px solid #e9e9e9;
}
.detail{
  min-height: 380px;
}
.goodsDetail{
  width: 1440px;
  margin: 10px auto;
  margin-top: 20px;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}
.mainFeature,.product{
  width: 1440px;
  margin: 0 auto;
  color: #333;
  font-size: 14px;
  font-family: Tahoma;
  line-height: 30px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.mainFeature{
  padding-bottom: 20px;
}
.product span{
  color: #999;
}
//.product{
//  margin-bottom: 30px;
//}
.mainFeatureTitle,.productTitle{
  color: #333;
  font-size: 18px;
  font-family: Tahoma;
  margin-bottom: 6px;
}
.goodsImg{
  width: 650px;
  height: 620px;
  display: flex;
  justify-content: space-between;
}
.sizeSize{
  font-size: 14px;
  cursor: pointer;
  line-height: 32px;
  text-align: center;
  font-family: Tahoma;
  /*position: relative;*/
}
/*.sizeSize .model{*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background: rgba(0,0,0,0.1);*/
/*}*/
.sizeSize div{
  color: #888;
  height: 32px;
  width: 80px;
  border: 1px dashed #ccc;
}
.mainImage .sizeSize img{
  height: 60px;
  width: 60px;
  border: 1px solid #ccc;
}
.sliderBox.isImg .sizeSize img{
  height: 60px;
  width: 60px;
}
.sliderBox.isText .sliderCont div{
  width: 82px;
}
.sizeSize img{
  height: 80px;
  width: 80px;
  border: 1px solid #e9e9e9;
}
.sizeSize .textStyle{
  color: #333;
}
.sizeSize div{
  color: #999;
  border: 1px dashed #ccc;
  background-color: #f8f8f8;
}
.detailSwiper{
  width: 82px;
  height: 506px;
}
.swiper-father{
  position: relative;
  top: 25px;
  height: 445px;
}
.swiper-fatherColor{
  position: relative;
  width: 506px;
}
.swiper-fatherSize{
  position: relative;
  width: 506px;
}
.goodsImg .swiper-container{
  height: 445px;
  width: 82px;
}
.goodsDetail2.swiper-container{
  height: 82px;
  width: 445px;
}
.swiper-container{
  height: 38px;
  width: 445px;
}
.swiper-fatherColor .swiper-button-prev {
  color: #333;
  position: absolute;
  top: 50px;
  left: 0;
  width: 18px;
  height: 28px;
  /* margin-top: -13px; */
  z-index: 10;
  cursor: pointer;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-fatherSize .swiper-button-prev {
  color: #333;
  position: absolute;
  top: 24px;
  left: 0;
  width: 18px;
  height: 28px;
  /* margin-top: -13px; */
  z-index: 10;
  cursor: pointer;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}
.goodsImg .swiper-button-prev{
  color: #333;
  position: absolute;
  top: -5px;
  left: 30px;
  width: 18px;
  height: 28px;
  /* margin-top: -13px; */
  z-index: 10;
  cursor: pointer;
  background-size: 12px;
  background-position: center;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); 	/* IE 9 */
  -moz-transform:rotate(90deg); 	/* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg); 	/* Opera */
  background-repeat: no-repeat;
}
.goodsImg .swiper-button-next {
  color: #333;
  position: absolute;
  top: 450px;
  right: 30px;
  width: 18px;
  height: 28px;
  margin-top: -10px;
  z-index: 10;
  cursor: pointer;
  background-size: 12px;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); 	/* IE 9 */
  -moz-transform:rotate(90deg); 	/* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg);
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-fatherColor .swiper-button-next {
  color: #333;
  position: absolute;
  top: 50px;
  right: 5px;
  width: 18px;
  height: 28px;
  z-index: 10;
  cursor: pointer;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-fatherSize .swiper-button-next {
  color: #333;
  position: absolute;
  top: 24px;
  right: 5px;
  width: 18px;
  height: 28px;
  z-index: 10;
  cursor: pointer;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}
.goodsDetail2 .swiper-slide{
  width: 82px !important;
  margin-right: 8px;
  position: relative;
  overflow: hidden;
}
.checkedTag.active{
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 0;
  height: 0;
  border-color: #B20605 transparent;
  border-width: 0px 0px 20px 20px;
  border-style: solid;
}
  .goodsDetailSize .checkedTag.active{
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 0;
    height: 0;
    border-color: #B20605 transparent;
    border-width: 0px 0px 10px 10px;
    border-style: solid;
  }
.goodsImg .swiper-slide {
  width: 82px !important;
  height: 90px !important;
}
  .largePic{
    width: 550px;
    height: 550px;
    border: 1px solid #e9e9e9;
  }
  .largePic img{
    width: 550px;
    height: 550px;
  }
  .shareTo{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .shareTo img{
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .shareList{
    width: 100%;
    height: 40px;
    margin-top: 20px;
  }
  .shareBox{
    height: 40px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .shareText{
    width: 50px;
    font-size: 14px;
    font-family: Tahoma;
    line-height: 40px;
  }
  .goodsInfo{
    width: 760px;
  }
  .goodsTitle{
    font-size: 18px;
    color: #333;
    height: 46px;
    font-family: Tahoma;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    width: 600px;
  }
  .goodsPrice{
    margin: 20px 0;
    display: flex;
    justify-content: start;
  }
  .goodsLabel{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #333;
    line-height: 40px;
    font-family: Tahoma;
  }
.goodsLabelSize.isTextLabel,.goodsLabelSize{
  width: 100px;
  height: 32px;
  font-size: 16px;
  color: #333;
  line-height: 32px;
}
  .goodsLabelSize.isImgLabel{
    width: 100px;
    height: 60px;
    font-size: 16px;
    color: #333;
    line-height: 60px;
    font-family: Tahoma;
  }
  .priceCon{
    height: 40px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    line-height: 40px;
    font-family: Tahoma;
  }
  .priceCon .disCont{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #888;
    font-weight: normal;
    text-decoration:line-through;
  }
.disContTag{
  display: inline-block;
  color: #c30808;
  font-family: Tahoma;
  font-size: 14px;
  height: 20px;
  width: 70px;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
  font-weight: normal;
  border: 1px solid chocolate;
}
  .subBtn{
    margin-top: 20px;
    display: flex;
    justify-content: start;
  }
  .subType{
    width: 300px;
    height: 45px;
    color: #fff;
    background-color: #c51015;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
  }
// .subType:hover{
//   cursor: pointer;
//   background-color: #B20605;
//   .z_addbtn{
//       background: #B20605;
//   }
// }
  .subType.out{
    width: 300px;
    height: 45px;
    color: #888;
    background-color: #fff;
    line-height: 45px;
    text-align: center;
    border: 1px solid #e1e1e1;
    cursor: not-allowed;
  }
  .subType.ban{
    pointer-events: none;
    background-color: #d48386;
  }
.addWish{
  width: 160px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-family: Tahoma;
  color: #333;
  margin-left: 60px;
  cursor: pointer;
  img{
    width:24px;
    height:24px;
    float: left;
    margin-top: 14px;
  }
  span:nth-of-type(1){
    margin-top: 4px;
    cursor: pointer;
  }
}
  .kuCun{
    line-height: 40px;
    font-size: 14px;
    color: #666;
    margin-left: 10px;
  }
  .restocking{
    font-size: 14px;
    font-family: Tahoma;
    color: #888;
    margin-top: 4px;
  }

//添加购物车动画
.shop_cart .add {
    //position: relative;
  width: 350px;
  display: flex;
  justify-content: start;
}
// .add:hover{
//     .z_addbtn{
//         background:#B20605;
//     }
// }
.z_addbtn{
    height: 60px;
    width: 60px;
    background:#fff;
    //border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: -1;
    //left: 220px;
}
// 一开始调整好商品图片在购物车的位置,移入效果最后显示是在一开始定义好的位置
.largePic .add_img {
    height:60px;
    width: 60px;
    //border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: -1;
    //left: 220px;
}
//向上走的动画初始及结尾值
@keyframes run-right-top {
    0% {
      top:0;
      left: -100px;
      transform: scale(1);
    }
    100% {
      top: -620px;
      left: 840px;
      transform: scale(0.1);
    }
}
//@-moz-keyframes run-right-top {
//  0% {
//    top:0px;
//  }
//  100% {
//    top: -620px;
//  }
//}
//@-ms-keyframes run-right-top {
//  0% {
//    top:0px;
//  }
//  100% {
//    top: -620px;
//  }
//}
//@-o-keyframes run-right-top {
//  0% {
//    top:0px;
//  }
//  100% {
//    top: -620px;
//  }
//}
//向上右的动画初始及结尾值
@keyframes run-right-right {
    0% {
      left: -100px;
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
    100% {
      left: 840px;
      transform: scale(0.1);
      -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
      -o-transform: scale(0.1);
    }
}
//@-ms-keyframes run-right-right {
//  0% {
//    left: -100px;
//    -moz-transform: scale(1);
//    -ms-transform: scale(1);
//    -o-transform: scale(1);
//  }
//  100% {
//    left: 880px;
//    transform: scale(0.1);
//    -moz-transform: scale(0.1);
//    -ms-transform: scale(0.1);
//    -o-transform: scale(0.1);
//  }
//}
//@-ms-keyframes run-right-right {
//  0% {
//    left: -100px;
//    -moz-transform: scale(1);
//    -ms-transform: scale(1);
//    -o-transform: scale(1);
//  }
//  100% {
//    left: 880px;
//    transform: scale(0.1);
//    -moz-transform: scale(0.1);
//    -ms-transform: scale(0.1);
//    -o-transform: scale(0.1);
//  }
//}
//@-o-keyframes run-right-right {
//  0% {
//    left: -100px;
//    -moz-transform: scale(1);
//    -ms-transform: scale(1);
//    -o-transform: scale(1);
//  }
//  100% {
//    left: 880px;
//    transform: scale(0.1);
//    -moz-transform: scale(0.1);
//    -ms-transform: scale(0.1);
//    -o-transform: scale(0.1);
//  }
//}
.run_top_right {
    display: block;
    //animation: run-right-right 1.2s linear, run-right-top 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    animation: run-right-top 2s cubic-bezier(0.17, 0.84, 0.44, 1);
    //-ms-animation: run-right-top 1.2s cubic-bezier(0.18, 0.89, 0.32, 1.27);
    //-o-animation: run-right-top 1.2s cubic-bezier(0.18, 0.89, 0.32, 1.27);
    //animation-timing-function: cubic-bezier(.25, .1, .25, 1);
     animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
