html{
    width: 100%;
}
*{
    margin:0 ;
    padding:0
}
body{
    width: 100%
}
a{
    text-decoration: none;
    color: #333;
}
ul,li {
    list-style: none;
}
/* 轮播图按钮样式重置 */
.el-carousel__button{
    width: 10px!important;
    height: 10px!important;
    border:1px solid #333!important;
    border-radius: 50%!important;
}
.el-carousel__indicator.is-active button{
    background: #333!important;
}
/* 分页器重置样式 */
.el-pagination.is-background .el-pager li:hover{
    color: #C51015 !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
    color: #fff !important;
}
/* tabs重置样式 */
.el-tabs__nav-scroll .el-tabs__item{
    font-weight: 600 !important;
}
.el-tabs__item:hover{
    color: #C51015 !important;
}
.el-tabs__item.is-active{
    color: #C51015 !important;
}
.el-tabs__active-bar{
    background-color:#C51015 !important;
}
/* 单选框重置样式 */
.account_set .el-radio__input.is-checked .el-radio__inner{
    border-color:#a81015 !important;
    background:#C51015 !important;
}
.wrapLogin .el-checkbox__input.is-checked .el-checkbox__inner,.Scription .el-checkbox__input.is-checked .el-checkbox__inner,.fliterList .el-radio__input.is-checked .el-radio__inner{
  border-color: #999 !important;
  background-color: #fff !important;
}
.Scription .el-checkbox__input.is-checked .el-checkbox__inner, .Scription .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  border-color: #999 !important;
  background-color: #fff !important;
}
.Scription .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  background-color: #333 !important;
}
.wrapLogin .el-checkbox__input.is-checked+.el-checkbox__label,.Scription .el-checkbox__input.is-checked+.el-checkbox__label,.fliterList .el-radio__input.is-checked+.el-radio__label{
  color: #333 !important;
}
.account_set .el-radio__input.is-checked+.el-radio__label{
    color: #C51015 !important;
}
.wrapLogin .el-input__inner,.register .right .el-input__inner,.Scription .el-input__inner{
    width: 400px !important;
    position: relative;
    border: 1px solid #121037 !important;
    border-radius: 0 !important;
}
.register .Verification .el-input__inner {
    width: 265px !important;
}
.fliterList .el-collapse{
    border-top: none !important;
    border-bottom: 1px solid #EBEEF5 !important;
}
.fliterList .el-collapse-item__header{
    height: 36px !important;
    line-height: 36px !important;
    padding-left: 10px !important;
    font-family: Tahoma !important;
    border-bottom: none !important;
}
.fliterList .el-collapse-item__content{
    padding-bottom: 10px !important;
}
.fliterList .el-collapse-item__wrap{
    border-bottom: none !important;
}
[class*=" el-icon-"], [class^=el-icon-]{
    font-weight: 600 !important;
}
.detail [class*=" el-icon-"], .detail [class^=el-icon-]{
  font-weight: 400 !important;
}
.listGoods [class*=" el-icon-"], .listGoods [class^=el-icon-]{
  font-weight: 500 !important;
}
.content_forgot .el-button,.newPassword .el-button{
    color: #ccc !important;
}
.content_forgot .el-button:hover,.newPassword .el-button:hover{
    color: #fff !important;
}
.carCont .el-input-number__decrease:hover,.carCont .el-input-number__increase:hover{
    color: #333 !important;
}
.carCont .el-input-number__decrease.is-disabled:hover,.carCont .el-input-number__increase.is-disabled:hover{
  color: #C0C4CC !important;
  cursor: not-allowed !important;
}
.el-badge__content.is-fixed{
    right: 0 !important;
}
.register .el-checkbox__inner:hover,.Products_Details .el-checkbox__inner:hover{
  border-color: #999 !important;
}
.register .policy.policyError .el-checkbox__inner{
  border-color: #c51015 !important;
}
.register .policy.policyError .el-checkbox__label{
  color: #c51015 !important;
}
.register .el-checkbox__input.is-checked .el-checkbox__inner,.register .el-checkbox__input.is-indeterminate .el-checkbox__inner,.Products_Details .el-checkbox__input.is-checked .el-checkbox__inner{
  border-color: #999 !important;
  background-color: #fff !important;
}
.Products_Details .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  border-color: #999 !important;
  background-color: #fff !important;
}
.Products_Details .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  background-color: #333 !important;
}
.register .el-checkbox__inner::after,.Products_Details .el-checkbox__inner::after{
  border: 1px solid #333 !important;
  border-left: 0 !important;
  border-top: 0 !important;
}
.register .el-checkbox__input.is-checked+.el-checkbox__label{
  color: #333 !important;
}
.el-badge__content{
    height: 16px !important;
    line-height: 16px !important;
    padding: 0 4px !important;
}
.orderConfirm .el-radio__input.is-checked+.el-radio__label,.payBox .el-checkbox__input.is-checked+.el-checkbox__label,.payConfirm .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #333 !important;
}
.orderConfirm .el-radio__input.is-checked .el-radio__inner,.payBox .el-checkbox__input.is-checked .el-checkbox__inner,.payBox .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    border-color: #999 !important;
    background: #fff !important;
    font-family: Tahoma !important;
}
.payConfirm .el-checkbox__input.is-checked .el-checkbox__inner,.payConfirm .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    border-color: #707070 !important;
    background: #fff !important;
    font-family: Tahoma !important;
}
.payConfirm .el-checkbox{
    color: #707070 !important;
    margin-right: 10px !important;
}
/*.payConfirm .el-checkbox__inner{*/
  /*border: 1px solid #999;*/
/*}*/
.orderConfirm .el-radio__inner::after{
    width: 6px !important;
    height: 6px !important;
    background-color: #565656 !important;
}
.orderConfirm .el-radio__inner:hover{
    border-color: #707070 !important;
}

.payAgain .el-radio__input.is-checked+.el-radio__label,.payBox .el-checkbox__input.is-checked+.el-checkbox__label,.payConfirm .el-checkbox__input.is-checked+.el-checkbox__label{
  color: #333 !important;
}
.payAgain .el-radio__input.is-checked .el-radio__inner,.payBox .el-checkbox__input.is-checked .el-checkbox__inner,.payBox .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  border-color: #707070 !important;
  background: #fff !important;
  font-family: Tahoma !important;
}
.payAgain .el-checkbox__input.is-checked .el-checkbox__inner,.payConfirm .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  border-color: #e9e9e9 !important;
  background: #fff !important;
  font-family: Tahoma !important;
}
.payAgain .el-checkbox{
  color: #707070 !important;
  margin-right: 10px !important;
}
/*.payAgain .el-checkbox__inner{*/
  /*border: 1px solid #999;*/
/*}*/
.payAgain .el-radio__inner::after{
  width: 6px !important;
  height: 6px !important;
  background-color: #565656 !important;
}
.payAgain .el-radio__inner:hover{
  border-color: #707070 !important;
}
.el-form-item.is-success .el-input__validateIcon {
  color: #67C23A !important;
}

.imgRadio .el-radio__input{
    margin-top: 8px !important;
}
.moreCard .el-radio{
    line-height: 30px !important;
    margin-right: 6px !important;
}
.payBox .el-select .el-input.is-focus .el-input__inner{
    border-color: #E9E9E9 !important;
}
.payBox .el-select .el-input__inner:focus{
    border-color: #E9E9E9 !important;
}
.myAccount .payBox .el-input__inner{
  width: 300px !important;
}
.payBox .el-input__inner{
    width: 400px !important;
    height: 32px !important;
    line-height: 32px !important;
}
.smallInput .el-input__inner{
    width: 180px !important;
    height: 32px !important;
    line-height: 32px !important;
}
.shipInput .el-input__inner{
    width: 137px !important;
    height: 32px !important;
    line-height: 32px !important;
}
.el-popper[x-placement^=bottom]{
    margin-top: 0 !important;
}
.el-select-dropdown__item.selected{
    color: #c51015 !important;
    font-weight: 500 !important;
}
.noLabel .el-form-item__content{
    margin-left: 40px !important;
}
.payBox .el-input.is-active .el-input__inner, .el-input__inner:focus{
    border-color: #E9E9E9 !important;
}
.payBox .el-checkbox__input.is-focus .el-checkbox__inner,.payBox .el-checkbox__inner:hover,.payConfirm .el-checkbox__input.is-focus .el-checkbox__inner,.payConfirm .el-checkbox__inner:hover{
    border-color: #E5E5E5 !important;
}
.wrapLogin .el-checkbox__input.is-focus .el-checkbox__inner,.wrapLogin .el-checkbox__inner:hover{
  border-color: #999 !important;
}
.Scription .el-checkbox__input.is-focus .el-checkbox__inner,.Scription .el-checkbox__inner:hover{
  border-color: #999 !important;
}
.fliterList .el-checkbox__input.is-focus .el-checkbox__inner,.fliterList .el-checkbox__inner:hover{
  border-color: #999 !important;
}
.fliterList .el-radio__inner:hover{
  border-color: #666 !important;
}
.fliterList .el-radio__inner::after{
  width: 6px !important;
  height: 6px !important;
  background-color: #666 !important;
}
.fliterList .el-radio__label{
  font-size: 12px !important;
}
.payBox .el-form-item__content{
    height: 36px !important;
}
.payBox .el-form-item__label{
    line-height: 36px !important;
}
.payBox .el-checkbox__inner::after,.payConfirm .el-checkbox__inner::after,.wrapLogin .el-checkbox__inner::after,.Scription .el-checkbox__inner::after{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 2px solid #333;
    border-left: 0;
    border-top: 0;
    height: 7px !important;
    left: 4px !important;
    position: absolute;
    top: 1px !important;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.orderConfirm .el-button:active,.payAgain .el-button:active{
    color: #fff !important;
    background-color: #C51015 !important;
    border-color: #C51015 !important;
}
.orderConfirm .el-button,.payAgain .el-button{
    background-color: #C51015 !important;
    color: #fff !important;
    border-color: #C51015 !important;
    width: 318px !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
.payAgain .el-button{
  width: 200px !important;
}
.orderConfirm .el-button:focus, .orderConfirm .el-button:hover,.payAgain .el-button:focus, .payAgain .el-button:hover{
    color: #fff !important;
    border-color: #C51015 !important;
    background-color: #a81015 !important;
}
.payBox .addNewForm .el-button{
    width: 180px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    padding: 8px !important;
}
.payBox .addNewForm .save .el-button{
    background-color: #C51015 !important;
    color: #fff !important;
    border-color: #C51015 !important;
}
.payBox .addNewForm .el-button.cancel.el-button--default{
    background-color: #fff !important;
    color: #666 !important;
    border-color: #666 !important;
    margin-left: 20px !important;
}
.payConfirm.error .el-checkbox__inner{
  border: 1px solid #F56C6C !important;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{
  color: #C51015 !important;
}
.search .el-input__inner{
  border:none !important;
  height: 32px !important;
  line-height: 32px !important;
}
.wrapLogin .el-button:focus,.wrapLogin .el-button:hover {
   color: #fff !important;
   border-color: rgba(18, 16, 55, 1) !important;
   background-color: rgba(18, 16, 55, 1) !important;
}
.payBtn .el-button:active{
  color: #fff !important;
  border: none !important;
}
.payBtn .el-button:focus,.payBtn .el-button:hover{
  color: #fff !important;
}
.detail .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .detail .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){
  border-color: #888 !important;
}
.detail .el-input-number__decrease:hover, .detail .el-input-number__increase:hover{
  color: #666 !important;
}
.shoppingCar .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),.shoppingCar .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){
  border-color: #888 !important;
}
.isfooter .el-input{
  height: 32px !important;
  line-height: 32px !important;
  border: 1px solid #121037 !important;
}
.checkStyle .el-form-item__content{
  line-height: 30px !important;
}
.el-message-box__content{
  font-size: 16px !important;
  color: #333 !important;
}
.normalStyle{
  background-color: #fff !important;
}
.errorStyle{
  background-color: #f5f5f5 !important;
}
/*.el-table--enable-row-hover .el-table__body tr:hover>td{*/
  /*background-color: #fff !important;*/
/*}*/
.errorType{
  color: #999 !important;
}
.errorType:hover{
  color: #C51015 !important;
}
.errorAttrType{
  color: #999 !important;
}
.errorPriceType{
  color: #999 !important;
}
.errorStyle .el-table-column--selection .cell{
  display: none !important;
}
.el-message-box__header{
  text-align: center !important;
}
.el-message-box__btns{
  text-align: center !important;
}
.el-message-box{
  padding-bottom: 25px !important;
}
.el-message-box__message{
  text-align: center !important;
}
/*.el-table__header .el-table-column--selection .cell .el-checkbox::after {*/
  /*content: "Select All" !important;*/
/*}*/
.myAccount .el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #C51015 !important;
}
.account_set .el-button:active,.account_set .el-button:focus,.account_set .el-button:hover{
  color: #fff !important;
  border-color: #C51015 !important;
  outline: 0 !important;
  background-color: #C51015 !important;
}
.traTimeLine .el-timeline-item__node--normal{
  left: 1px !important;
  width: 8px !important;
  height: 8px !important;
}
.traTimeLine .el-timeline-item__wrapper{
  top: -5px !important;
}
.el-timeline .el-timeline-item:last-child{
  padding-bottom: 0 !important;
}
.status6 .el-input__inner{
  height: 32px !important;
  line-height: 32px !important;
  border-radius: 0 !important;
}
